* {
    margin: 0;
    padding: 0;

}

body {
    width: 100%;
    height: 100%;
}

.bloc {
    background-color: #CAEBF2;
    width: 100%;
    height: 63vh;
    display: flex;
    justify-content: flex-start;
}

.left {
    text-align: center;
    
    height: 100%;
    width: 50%;

}
.input{
    padding-top: 7rem;
    padding-left: 1rem;
}

.right {
    
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

h2 {
    padding-top: 5rem;
}
.input input{
    height: 4rem;
    width: 30rem;
    font-size: 2rem;

}
.nom{
    margin-right: 1rem;
    margin-bottom: 5px;
}
.tel{
    margin-right: 1rem;
    margin-bottom: 5px;
}
.objet{
    margin-left: 1rem;
    height: 4rem;
    width: 61.5rem;
    font-size: 2rem; 
    margin-bottom: 5px
}
.msg{
    margin-left: 1rem;
    height: 10rem;
    width: 61.5rem;
    font-size: 2rem;
    margin-bottom: 15px 
}
.btt{
    height: 4rem;
    width: 30rem;
    font-size: 3rem;
    margin-left: 15rem;

}
.btt:hover{
background-color: #CAEBF2;
color: white;
}
input{
    border-top: none;
    border-right: none;
    border-left: none ;
    background-color: #CAEBF2;
    color: black;
}
input:hover{
    border: solid;
    
}